.cgame_container {
}

.cgame_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cgame_input_title {
  font-size: 20px;
  color: white;
  margin: 15px;
}

.cgame_input {
  margin: 5px;
}

.cgame_btn {
  padding: 10px;
  margin: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cgame_final {
  display: flex;
  flex-direction: column;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 760px) {
  .cgame_container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cgame_wrapper {
    background-color: black;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 90%;
    height: 98%;

    border-radius: 10px;
  }

  .cgame_input_title {
    font-size: 20px;
    color: white;
    margin: 5px;
  }

  .cgame_input {
    margin: 5px;
  }
  .cgame_inputcolor {
    background-color: black;
  }

  .cgame_btn {
    padding: 10px;
    margin: 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .cgame_final {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: center;
  }
}
