.pwdinput_title {
  color: white;
  font-size: 18px;
}

.pwd_input {
  background-color: black;
}

.pwd_title {
  color: white;
  font-size: 25px;
}

.pwd_btn {
  margin: 40px;
  padding: 10px;
  color: white;
  background-color: blue;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .pwd_container {
    width: 100%;
    height: calc(100vh - 60px);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pwd_wrapper {
    height: 80%;
    width: 90%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }

  .pwdinput_title {
    color: white;
    font-size: 18px;
  }

  .pwd_input {
    background-color: black;
  }

  .pwd_title {
    color: white;
    font-size: 25px;
  }

  .pwd_btn {
    margin: 40px;
    padding: 10px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
  }
}
