.game_container {
  background-color: gray;
  width: 100%;
  height: 100%;
  display: flex;
}

.game_wrapper {
  width: 100%;
  height: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game_card {
  background-color: white;
  width: 20%;
  height: 50vh;
  margin: 10px;
  position: relative;
}

.game_photo {
  background-color: black;
  height: 90%;
}

.game_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game_logoes {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  margin: 0;
  padding: 0px;
  display: none;
  justify-content: center;
  align-items: center;
}

.game_card:hover .game_logoes {
  display: flex;
}

.game_logo {
  list-style: none;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.game_logo:hover {
  transform: scale(1.1);
}

.game_title {
  margin: 5px;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_in {
  color: white;
  display: flex;
  width: 95%;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-size: 25px;
  animation: hide 0.7s infinite;
}

@keyframes hide {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 760px) {
  .game_wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .game_card {
    width: 100%;
  }
}
